/* Remarque */


/* Question Mentor : Icone Booki lequel prendre et pourquoi 
                     section populaire mettre le etoiles en bas*/


/* Color pas les bonnes mais np pour l'instant /*


    /*** Body Styling ***/

body {
    font-family: Raleway, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    /* Width Laptop L */
    margin: auto;
}


/****************** Header ******************/

.header {
    display: block;
    justify-content: space-between;
    flex-wrap: wrap;
}

.headerLogo {
    display: block;
    width: auto;
    margin-top: 40px;
}

nav {
    margin-left: auto;
    width: 25%;
}

nav a {
    display: block;
    width: 100%;
    color: #000;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}

nav li {
    display: block;
    border: 3px solid white;
    /* border-style none pour avoir les bords en angles droit */
    border-right-style: none;
    border-left-style: none;
    width: 50%;
    text-align: center;
}

nav li:hover {
    border-top-color: #0065fc;
}

nav a {
    /* border-top 3px donc 40-3=37px pour pareil signin */
    margin-top: 37px;
}

.navActive a {
    color: #0065fc;
}


/* no Signin since udpate project */


/* .signin {
    display: block;
    margin-right: 30px;
    margin-left: 30px;
    color: #0065fc;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
} */


/****************** main ******************/

.firstSection {
    width: 70%;
    /* Espacement <li> filtres */
}

.search {
    display: flex;
}

#locate {
    border: 2px solid grey;
    border-right-style: none;
    border-radius: 10px 0 0 10px;
}

#locate .fas {
    padding-left: 15px;
    padding-right: 10px;
}

#locate input {
    padding-top: 10px;
    padding-bottom: 10px;
}

#locate ::placeholder {
    padding-left: 10px;
    font-weight: 800;
    font-size: large;
    color: black;
}

.filters ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    font-weight: bold;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.icoBorder {
    display: flex;
    padding-right: 15px;
    border: 2px solid grey;
    align-items: center;
    border-left: none;
    border-radius: 50px;
}

li .fas {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin: -2px;
    background-color: #deebff;
    border-radius: 100%;
}

.filters span {
    margin-right: 10px;
}

.room {
    display: flex;
    align-items: stretch;
    width: 100%;
}

.hebergements,
.populaire {
    width: 100%;
    padding: 10px;
    border-radius: 16px;
    background: #f2f2f2;
}

.hebergements {
    margin-right: 32px;
    padding-left: 32px;
}

.titleHebergements {
    margin-top: 16px;
    margin-bottom: 32px;
}

.alignementhebergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 0;
}

.alignementhebergement div {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 0 15px rgb(229, 229, 229);
    padding: 5px;
    margin-bottom: 32px;
    width: 30%;
}

.hebergements img {
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    height: 128px;
    width: 100%;
}

.hebergements h3 {
    margin: 8px;
    font-size: 100%;
}

.hebergements p {
    margin: 8px;
    margin-bottom: 6px;
    font-size: 95%;
}

.hebergements span {
    font-size: 75%;
    margin: 8px;
}

.footerHebergement {
    padding-bottom: 32px;
}

.blue-star {
    color: rgb(0, 101, 252);
}

.grey-star {
    color: #cccc;
}

.grey-star {
    color: #cccccc;
}

.populaire {
    width: 45%;
    padding-left: 32px;
}

.appartementPopulaire {
    display: flex;
    flex-direction: column;
}

#titlePopulaire {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 32px;
}

.populaire h2 {
    display: inline-block;
    margin-bottom: 0;
}

.appartementImage {
    border-radius: 16px;
    box-shadow: 0 0 10px #0000002e;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 32px;
    background-color: #fff;
    justify-content: center;
    margin-top: 15px;
}

.appartDescription {
    display: inline-block;
    vertical-align: top;
    width: 45%;
}

.populaire img {
    display: inline-block;
    border-radius: 16px 0 0 16px;
    height: 128px;
    object-fit: cover;
    width: 35%;
    overflow: hidden;
}

.appartementImage span {
    align-self: flex-end;
}

.populaire h3 {
    margin: 8px;
    font-size: 100%;
}

.populaire a {
    color: #000;
    text-decoration: none;
}

.populaire p {
    margin: 8px;
    margin-bottom: 6px;
    font-size: 95%;
}

.chart-line-black {
    color: #000;
    margin-right: 1rem;
    font-size: 1.5rem;
}

.activites img {
    object-fit: cover;
    width: 100%;
    border-radius: 16px 16px 0 0;
}

.activitesContainer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 50px;
}

.activitesSingle {
    border-radius: 16px 16px 16px 16px;
    width: 20%;
    box-shadow: 0 0 10px #0000002e;
    max-height: 320px;
    min-height: 120px;
}

#VieuxPort img,
#Calanques img {
    height: 256px;
}

#NotreDameGarde img,
#Longchamp img {
    height: 128px;
}

#Pomegues img {
    height: 144px;
}

#Frioul img {
    height: 112px;
}


/****************** Footer ******************/

.footer {
    display: block;
    background-color: #f2f2f2;
}

.footer_wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    width: 80%;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    list-style: none;
    text-align: start;
    line-height: 2;
}

footer a {
    text-decoration: none;
    color: black;
}