/* Remarque */


/*** Body Styling ***/

body {
    font-family: Raleway, sans-serif;
    margin: 0;
}

.container {
    max-width: 1920px;
    /* Width Ecran XL | Demander mentor pour quoi mettre */
    margin: auto;
}


/****************** Header ******************/

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 56px 0 48px;
}

.headerLogo {
    display: block;
    width: 80%;
    margin: 32px 0;
}

.headerLogo img {
    width: 10%;
}

nav {
    margin-left: auto;
    width: 30%;
}

nav a {
    display: block;
    width: 100%;
    color: #000;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: block;
    border: 3px solid white;
    /* border-style none pour avoir les bords en angles droit */
    border-right-style: none;
    border-left-style: none;
    width: 50%;
    text-align: center;
}


/* Pas d'animations CSS sur ce projet */


/* nav li:hover {
    border-top-color: #0065fc;
} */

nav a {
    /* border-top 3px donc 40-3=37px pour pareil signin */
    margin-top: 37px;
}

.navActive a {
    color: #0065fc;
}

.navActive {
    border-top-color: #0065fc;
}


/* no Signin since udpate project */


/* .signin {
    display: block;
    margin-right: 30px;
    margin-left: 30px;
    color: #0065fc;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
} */


/****************** main ******************/

.mainContainer {
    padding: 0 48px;
}

.titleMain h2 {
    margin-top: 0;
}

.search {
    display: flex;
    padding-top: 8px;
    padding-bottom: 16px;
}

.search input {
    border: none;
    font-weight: bold;
    padding-right: 32px;
}

.search .fas {
    padding: 15px;
    margin: 0;
    background-color: #f2f2f2;
    border: solid 1px #f2f2f2;
    border-radius: 16px 0 0 16px;
}

.search input {
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 1px #f2f2f2;
}

.search ::placeholder {
    padding-left: 10px;
    font-weight: 800;
    font-size: large;
    color: black;
}

.buttonSearch {
    background-color: #0065fc;
    font-weight: bold;
    border: none;
    border-radius: 0 16px 16px 0;
    color: white;
    padding: 0 16px 0 16px;
}

.filters {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.titleFilters {
    margin-right: 24px;
}

.filters ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    max-width: 100%;
    font-weight: bold;
    list-style: none;
    align-content: center;
}

.icoBorder {
    display: flex;
    padding-right: 20px;
    border: 2px solid rgb(214, 214, 214);
    align-items: center;
    justify-content: space-between;
    border-left: none;
    border-radius: 50px;
    margin-right: 20px;
    cursor: pointer;
}

.icoBorder:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

li .fas {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin: -2px;
    background-color: rgb(222, 235, 255);
    border-radius: 100%;
}

.filters span {
    margin-right: 10px;
}

.logementsDispo {
    display: flex;
    align-items: center;
    margin: 12px 0 24px 0;
}

.logementsDispo .fas {
    display: flex;
    margin-right: 12px;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    min-height: 20px;
    min-width: 20px;
    font-size: 80%;
    color: rgb(0, 101, 252);
}

.room {
    display: flex;
    align-items: stretch;
    width: 100%;
    margin-bottom: 64px;
}

.hebergements,
.populaire {
    width: 100%;
    padding: 16px 32px 0 32px;
    border-radius: 16px;
    background: #f2f2f2;
}

.hebergements {
    margin-right: 32px;
}

.titleHebergements {
    margin-bottom: 8px;
}

.alignementhebergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 0;
}

.alignementhebergement div {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 0 15px rgb(229, 229, 229);
    padding: 5px;
    margin-bottom: 32px;
    width: 30%;
}

.alignementhebergement div:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

.appartementPopulaire div:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

.activitesSingle:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

.hebergements img {
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    height: 128px;
    width: 100%;
}

.hebergements h3 {
    margin: 8px 0 8px 8px;
    font-size: 100%;
}

.hebergements p {
    margin: 8px;
    margin-bottom: 6px;
    font-size: 95%;
}

.hebergements span {
    font-size: 85%;
    margin: 8px;
}

.footerHebergement {
    align-items: center;
}

.footerHebergement h3 {
    margin-bottom: 48px;
}

.blueIcon,
.blue-star {
    color: rgb(0, 101, 252);
}

.grey-star {
    color: #cccc;
}

.grey-star {
    color: #cccccc;
}

.populaire {
    width: 45%;
}

.appartementPopulaire {
    display: flex;
    flex-direction: column;
}

#titlePopulaire {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 8px;
}

.room h2 {
    display: inline-block;
    margin: 32px 0 0 0;
}

.appartementImage {
    border-radius: 16px;
    box-shadow: 0 0 10px #0000002e;
    padding: 5px 0 1px 5px;
    margin-top: 30px;
    background-color: #fff;
    justify-content: center;
    position: relative;
}

.appartDescription {
    display: inline-block;
    vertical-align: top;
    width: 45%;
}

.populaire img {
    display: inline-block;
    border-radius: 16px 0 0 16px;
    height: 142px;
    object-fit: cover;
    width: 35%;
    overflow: hidden;
}

.appartementImage span {
    align-self: flex-end;
}

.populaire h3 {
    margin: 16px 8px 8px 16px;
    font-size: 100%;
}

.populaire p {
    margin: 8px 0 16px 16px;
    font-size: 95%;
}

.populaire span {
    font-size: 75%;
    margin-left: 16px;
    position: absolute;
    bottom: 12px;
}

.hebergements a {
    color: #000;
    text-decoration: none;
}

.populaire a {
    color: #000;
    text-decoration: none;
}

.activites a {
    color: #000;
    text-decoration: none;
}

.chart-line-black {
    color: #000;
    margin-right: 1rem;
    font-size: 1.5rem;
}

.activites {
    padding-bottom: 40px;
}

.activites h3 {
    margin: 16px;
    font-weight: 900;
}

.activites img {
    object-fit: cover;
    width: 100%;
    border-radius: 16px 16px 0 0;
}

.activitesContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.activitesColonne {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#activitesCol1 img,
#activitesCol3 img {
    height: 350px;
}

#activite2 img {
    height: 145px;
}

#activite3 img {
    height: 105px;
}

#activite5 img,
#activite6 img {
    height: 125px;
}

#activite2,
#activite5 {
    margin-bottom: 47px;
}

.activitesSingle {
    border-radius: 16px 16px 16px 16px;
    width: 100%;
    box-shadow: 0 0 10px #0000002e;
}

#activitesCol1,
#activitesCol2,
#activitesCol3 {
    padding-right: 48px;
}


/****************** Footer ******************/

.footer {
    display: block;
    background-color: #f2f2f2;
}

.footer_wrap {
    display: flex;
    justify-content: space-between;
}

.footer_wrap h3 {
    margin-top: 0;
}

.footer_wrap div {
    padding: 48px 0 48px 48px;
    width: 100%;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    list-style: none;
    text-align: start;
    line-height: 2;
}

footer a {
    text-decoration: none;
    color: black;
}